[submodule "builder/frameworks/mbed"]
    path = builder/frameworks/mbed
    url = https://github.com/platformio/builder-framework-mbed
[submodule "builder/frameworks/arduino"]
	path = builder/frameworks/arduino
	url = https://github.com/platformio/builder-framework-arduino-nrf5.git

[submodule "builder/frameworks/mbed-proxxi"]
	path = builder/frameworks/mbed-proxxi
	url = git@github.com:ProxxiTech/builder-framework-mbed.git
